@{
    ViewData["Home"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC world, get ready for the next matach</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
